@model ComplaintSuggestionViewModel

<section class="panel panel-primary text-muted pt-2 p-2">
    <div class="panel-heading">@Model.Subject</div>
    <div class="panel-body">
        <div class="small border-bottom">
            <label>@Model.Resume</label>
        </div>
        <!-- <div>
            <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-default">Details</a>
        </div> -->
    </div>
</section>