@model ComplaintSuggestion

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <table>
        <tr>
            <td><label asp-for="Name"></label></td>
            <td><input asp-for="Name"></td>
            <td><span asp-validation-for="Name"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td><input asp-for="Email"></td>
            <td><span asp-validation-for="Email"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Subject"></label></td>
            <td><input asp-for="Subject"></td>
            <td><span asp-validation-for="Subject"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Description"></label></td>
            <td><input asp-for="Description"></td>
            <td><span asp-validation-for="Description"></span></td>
        </tr>
    </table>

    <input type="submit" value="Create">
</form>